# 学生上课分布图

In [14]:
import pymysql
import pandas as pd
from datetime import datetime

In [15]:
def data_out_sql(sql):
    #conn = pymysql.connect(host=DB['host'], port=DB['port'], user=DB['user'], passwd=DB['password'], db=DB['dbname'],charset='utf8')
#     conn = pymysql.connect(user='lingoace', password='DB4lingo.com', database='data_analysis')
    # 使用异步连接mysql
    conn = pymysql.connect(user='lingoace', password='DB4lingo.com', database='lingoacedb_snapshot', host='192.168.3.237')

    # 创建游标
    cursor = conn.cursor()
    # 执行sql语句
    try:
        cursor.execute(sql)
        # 调出数据
        data = cursor.fetchall()
    # cols为字段信息 例如(('factory_id', 253, None, 6, 6, 0, False), ('szDeviceId', 253, None, 30, 30, 0, False),('update_time', 7, None, 19, 19, 0, False))
    except Exception as e:
        print('select sql error, err={}'.format(e))

        # 执行
    conn.commit()
    conn.close()
    # 将数据truple转换为DataFrame
    col = []
    for i in cols:
        col.append(i[0])
    data = list(map(list, data))
    data = pd.DataFrame(data,columns=col)

    #print(data)
    return data

In [16]:
#常用数据存放目录
catelog='./data/'
#临时数据存放目录
tempData='./temp/'
#数据库数据数据定义
Database='lingoacedb'

def data_to_csv(df, name):
    
    catelog='./data/'

    name_suffix = datetime.now().strftime('%Y%m%d')
    
    df.to_csv('%s%s%s.csv' % (catelog, name, name_suffix), encoding='utf_8_sig')

In [19]:
virtualclass_count_sql='''select MONTH(CONVERT_TZ(cvi.start_time,'+00:00','+08:00')) as months, DAYOFWEEK(CONVERT_TZ(cvi.start_time,'+00:00','+08:00')) as weeks, HOUR(CONVERT_TZ(cvi.start_time,'+00:00','+08:00')) as hours, count(*) from classroom_virtualclass_info cvi 
where cvi.start_time>='2020-06-30 16:00:00' and cvi.status=3
group by months, weeks, hours'''

In [20]:
virtualclass_count = data_out_sql(virtualclass_count_sql)
virtualclass_count.head()

NameError: name 'cols' is not defined